<nav
        class="rounded-t-lg w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light fixed bottom-0 inset-x-0 z-50"
        data-navbar-main
>
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
        <div class="flex items-center relative md:w-100 md:justify-end">
            <div class="dropdown relative">
                <a
                        class="text-white opacity-60 hover:opacity-80 focus:opacity-80 dropdown-toggle hidden-arrow flex items-center"
                        href="#"
                        id="dropdownMenuButton1"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    <i class="fas fa-bell fa-2x"></i>
                    <span
                            class="text-white bg-orange-600 absolute rounded-full text-xs -mt-2.5 -ml-2.5 py-0 px-1.5 animate-bounce"
                    >1</span
                    >
                </a>
                <ul
                        class="dropdown-menu min-w-max absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-padding border-none left-auto bottom-6 left-4"
                        aria-labelledby="dropdownMenuButton1"
                >
                    <li>
                        <a
                                class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                                href="#"
                        >Action</a
                        >
                    </li>
                    <li>
                        <a
                                class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                                href="#"
                        >Another action</a
                        >
                    </li>
                    <li>
                        <a
                                class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100"
                                href="#"
                        >Something else here</a
                        >
                    </li>
                </ul>
            </div>
        </div>
        <a href="#">
            <i class="far fa-calendar-alt fa-2x"></i>
        </a>
        <a href="#">
            <i class="fas fa-book fa-2x"></i>
        </a>
        <a href="#">
            <i class="fas fa-user fa-2x"></i>
        </a>
        <!-- Right elements -->
    </div>
</nav>